<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Curso</title>
</head>

<body>
    <h1>Editar curso</h1>
    <form method="POST">
        {{formulario.csrf_token}}
        <div>
            {{formulario.nombre.label}}
            {{formulario.nombre(size=30)}}
        </div>
        <div>
            {{formulario.instructor.label}}
            {{formulario.instructor(size=30)}}
        </div>
        <div>
            {{formulario.topico.label}}
            {{formulario.topico(size=30)}}
        </div>
        <div>
            {{formulario.enviar(size=50)}}
            <button type="button" onclick="window.location.href='/';">Cancelar</button>
            <!---- Agrega un botón para cancelar la edición y volver al inicio---->
            <!---- <a href="{{url_for('inicio')}}> Cancelar </a> ---->
        </div>
</body>

</html>