<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Cursos</title>
</head>

<body>
    <h1>Bienvenvenido {{usuario}} este es el Listado de Cursos disponible </h1>
    <div>
        Cantidad de Cursos: {{ total }}
    </div>
    <div>
        Cursos Disponibles:
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Curso</th>
                    <th>Instructor</th>
                    <th>Tópico</th>
                    <th>Link del Curso</th>
                    <th>Editar Curso</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in datos %}
                <tr>
                    <td>{{ curso.id }}</td>
                    <td>{{ curso.nombre }}</td>
                    <td>{{ curso.instructor }}</td>
                    <td>{{ curso.topico }}</td>
                    <td><a href="{{ url_for('ver_curso', id=curso.id) }}">Ver Curso</a></td>
                    <td><a href="editar-curso/{{curso.id}}">Edita el curso </a> </td>
                    <td><a href="eliminar-curso/{{curso.id}}">Eliminar curso </a> </td>
                </tr>
                {% endfor %}
            </tbody>
            <h2>
                <a href="{{ url_for('insertar_curso') }}"> Insertar nuevo curso </a>
            </h2>
        </table>
    </div>
</body>

</html>